<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huawei.idp.gtms.mapper.FsBoxMapper" >
  <resultMap id="BaseResultMap" type="com.huawei.idp.gtms.entity.FsBox" >
    <id column="BoxID" property="boxid" jdbcType="INTEGER" />
    <result column="OrgID" property="orgid" jdbcType="INTEGER" />
    <result column="IsQingTuiXiang" property="isqingtuixiang" jdbcType="INTEGER" />
    <result column="BoxGroupID" property="boxgroupid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BoxID, OrgID, IsQingTuiXiang, BoxGroupID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huawei.idp.gtms.entity.FsBoxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FS_Box
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from FS_Box
    where BoxID = #{boxid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from FS_Box
    where BoxID = #{boxid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.huawei.idp.gtms.entity.FsBoxExample" >
    delete from FS_Box
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huawei.idp.gtms.entity.FsBox" >
    insert into FS_Box (BoxID, OrgID, IsQingTuiXiang, 
      BoxGroupID)
    values (#{boxid,jdbcType=INTEGER}, #{orgid,jdbcType=INTEGER}, #{isqingtuixiang,jdbcType=INTEGER}, 
      #{boxgroupid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huawei.idp.gtms.entity.FsBox" >
    insert into FS_Box
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="boxid != null" >
        BoxID,
      </if>
      <if test="orgid != null" >
        OrgID,
      </if>
      <if test="isqingtuixiang != null" >
        IsQingTuiXiang,
      </if>
      <if test="boxgroupid != null" >
        BoxGroupID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="boxid != null" >
        #{boxid,jdbcType=INTEGER},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=INTEGER},
      </if>
      <if test="isqingtuixiang != null" >
        #{isqingtuixiang,jdbcType=INTEGER},
      </if>
      <if test="boxgroupid != null" >
        #{boxgroupid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huawei.idp.gtms.entity.FsBoxExample" resultType="java.lang.Integer" >
    select count(*) from FS_Box
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update FS_Box
    <set >
      <if test="record.boxid != null" >
        BoxID = #{record.boxid,jdbcType=INTEGER},
      </if>
      <if test="record.orgid != null" >
        OrgID = #{record.orgid,jdbcType=INTEGER},
      </if>
      <if test="record.isqingtuixiang != null" >
        IsQingTuiXiang = #{record.isqingtuixiang,jdbcType=INTEGER},
      </if>
      <if test="record.boxgroupid != null" >
        BoxGroupID = #{record.boxgroupid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update FS_Box
    set BoxID = #{record.boxid,jdbcType=INTEGER},
      OrgID = #{record.orgid,jdbcType=INTEGER},
      IsQingTuiXiang = #{record.isqingtuixiang,jdbcType=INTEGER},
      BoxGroupID = #{record.boxgroupid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huawei.idp.gtms.entity.FsBox" >
    update FS_Box
    <set >
      <if test="orgid != null" >
        OrgID = #{orgid,jdbcType=INTEGER},
      </if>
      <if test="isqingtuixiang != null" >
        IsQingTuiXiang = #{isqingtuixiang,jdbcType=INTEGER},
      </if>
      <if test="boxgroupid != null" >
        BoxGroupID = #{boxgroupid,jdbcType=INTEGER},
      </if>
    </set>
    where BoxID = #{boxid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huawei.idp.gtms.entity.FsBox" >
    update FS_Box
    set OrgID = #{orgid,jdbcType=INTEGER},
      IsQingTuiXiang = #{isqingtuixiang,jdbcType=INTEGER},
      BoxGroupID = #{boxgroupid,jdbcType=INTEGER}
    where BoxID = #{boxid,jdbcType=INTEGER}
  </update>
</mapper>